body{
    margin: 0px;
}

#header{
    font-family: 'Lobster', cursive;
    font-weight: bold;
}

table{
    font-family: 'Grandstander', cursive;
    font-weight: bold;
}

.mySty select{
    position: relative;
    left: 10px;
}


.form-row{
    display: flex;
    flex-direction: row;
    
}


#submit-btn{
    width: 50%;
}

article{
    text-align: center;
}

#myForm{
    text-align: center;
}

.myTbl{
    overflow-x: auto;
}

th{
    color: rgb(71, 67, 70);
    font-family: 'Josefin Slab', serif;
}

@media (max-width: 767px){
    .mySty select{
        position: relative;
        left: -50px;
    }

    .myBtn{
        width: 50%;
    }
}

@media (min-width: 767px){
    .myBtn{
        width: 10%;
    }
}