label{
    font-family: 'Times New Roman', Times, serif;
    font-size:medium;
}

h3{
    font-family: 'Times New Roman', Times, serif;
}

table{
    font-family: 'Times New Roman', Times, serif;
}
#delete-btn{
    margin-left: 30px;
}