* {
    box-sizing: border-box;
  }
  

#header{
    font-family: 'Lobster', cursive;
    font-weight: bold;
}

table{
    font-family: 'Grandstander', cursive;
    font-weight: bold;
}




#inputGroupSelect03{
    width:90%;
    
    align-self: flex-end;
    
}
#assign-input{
    /* margin-right: 90px; */
    margin-left: auto;
    /* width: 90%; */
}


.form-row{
    display: flex;
    flex-direction: row;
    
}


#submit-btn{
    width: 25%;
}

article{
    text-align: center;
}

#myForm{
    text-align: center;
}

 @media (max-width: 776px) {
    
    #inputGroupSelect03{
        margin-left: 0;
    }
 
}




  /* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
    #inputGroupSelect03{
        margin-left: 0;
        width: 90%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
    #inputGroupSelect03{
        margin-left: 0;

    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    #inputGroupSelect03{
        margin-left: 0;
    }
}
