label{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

h3{
    font-family: 'Times New Roman', Times, serif;
}

table{
    font-family: 'Times New Roman', Times, serif;
}

.middle input{
    width: 40%;
}


#inputGroupSelect03{
    width: 25%;
    align-self: flex-end;
}

.middle{
    display: flex;
    flex-direction: row;
    
}


#describe-input{
    width: 70%;
}

article{
    text-align: center;
}

#myForm{
    text-align: center;
}
